<a href="https://colab.research.google.com/github/Priti0427/Phonepe-Pulse-Data-Visualization-and-Exploration-/blob/main/Phonpe_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 6.35 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

In [5]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

In [ ]:
#This is to direct the path to get the data as states

path1="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path1)
Agg_state_list

In [7]:
#This is to extract the data's to create a dataframe

clm1={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}
for i in Agg_state_list:
    p_i=path1+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm1['Transacion_type'].append(Name)
              clm1['Transacion_count'].append(count)
              clm1['Transacion_amount'].append(amount)
              clm1['State'].append(i)
              clm1['Year'].append(j)
              clm1['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm1)

In [ ]:
Agg_Trans

In [ ]:
#This is to direct the path to get the data as states

path2="/content/pulse/data/aggregated/user/country/india/state/"
Agg_user_list=os.listdir(path2)
Agg_user_list

In [10]:
#This is to extract the data's to create a dataframe

clm2={'State':[], 'Year':[],'Quater':[],'User Device':[], 'User_count':[], 'User_percentage':[]}
for i in Agg_user_list:
    p_i=path2+i+"/"
    Agg_yr=os.listdir(p_i)

    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j) 

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            B=json.load(Data)

            try:
              for z in B['data']['usersByDevice']:
                Brand=z['brand']
                count=z['count']
                percentage=z['percentage']
                clm2['User Device'].append(Brand)
                clm2['User_count'].append(count)
                clm2['User_percentage'].append(percentage)
                clm2['State'].append(i)
                clm2['Year'].append(j)
                clm2['Quater'].append(int(k.strip('.json')))
            except:
              pass  
#Succesfully created a dataframe
Agg_User=pd.DataFrame(clm2)

In [11]:
Agg_User

            State  Year  Quater User Device  User_count  User_percentage
0     west-bengal  2018       2      Xiaomi     1032175         0.269231
1     west-bengal  2018       2     Samsung      760518         0.198372
2     west-bengal  2018       2        Vivo      372159         0.097073
3     west-bengal  2018       2        Oppo      311433         0.081234
4     west-bengal  2018       2      Realme      213272         0.055629
...           ...   ...     ...         ...         ...              ...
6727  maharashtra  2020       1     OnePlus      715746         0.027352
6728  maharashtra  2020       1    Motorola      704678         0.026929
6729  maharashtra  2020       1      Lenovo      387278         0.014799
6730  maharashtra  2020       1      Huawei      338054         0.012918
6731  maharashtra  2020       1      Others     1952393         0.074609

[6732 rows x 6 columns]

In [ ]:
path3="/content/pulse/data/map/transaction/hover/country/india/state/"
Map_trans_hover_list=os.listdir(path3)
Map_trans_hover_list

In [13]:
#This is to extract the data's to create a dataframe

clm3={'State':[], 'Year':[],'Quater':[],'District': [], 'Transacion_count':[], 'Transacion_amount':[] }
for i in Map_trans_hover_list:
    p_i=path3+i+"/"
    Agg_yr=os.listdir(p_i) 

    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j) 

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            H=json.load(Data)

            for z in H['data']['hoverDataList']:
              District = z['name']
              count = z["metric"][0]["count"]
              amount = z["metric"][0]["amount"]
              clm3["District"].append(District)
              clm3['Transacion_count'].append(count)
              clm3['Transacion_amount'].append(amount)
              clm3['State'].append(i)
              clm3['Year'].append(j)
              clm3['Quater'].append(int(k.strip('.json')))
      
#Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm3)

In [ ]:
Map_Trans

In [ ]:
path4="/content/pulse/data/map/user/hover/country/india/state/"
Map_user_list=os.listdir(path4)
Map_user_list

In [16]:
#This is to extract the data's to create a dataframe

clm4={'State':[], 'Year':[],'Quater':[],'District':[], 'Number_of_users':[],}
for i in Map_user_list:
    p_i=path4+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            M=json.load(Data)
            for z in M["data"]["hoverData"].items():
              district = z[0]
              registereduser = z[1]["registeredUsers"]
              clm4['District'].append(district)
              clm4['Number_of_users'].append(registereduser)
              clm4['State'].append(i)
              clm4['Year'].append(j)
              clm4['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_User=pd.DataFrame(clm4)

In [ ]:
Map_User

In [ ]:
path5="/content/pulse/data/top/transaction/country/india/state/"
Top_trans_state_list=os.listdir(path5)
Top_trans_state_list

In [22]:
#This is to extract the data's to create a dataframe

clm5={'State':[], 'Year':[],'Quater':[],'District':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in Top_trans_state_list:
    p_i=path5+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j) 

        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            T=json.load(Data)

            for z in T['data']['pincodes']:
              Name = z['entityName']
              count = z['metric']['count']
              amount = z['metric']['amount']
              clm5['District'].append(Name)
              clm5['Transaction_count'].append(count)
              clm5['Transaction_amount'].append(amount)
              clm5['State'].append(i)
              clm5['Year'].append(j)
              clm5['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_trans =pd.DataFrame(clm5)

In [ ]:
Top_trans

In [ ]:
path6="/content/pulse/data/top/user/country/india/state/"
Top_user_state_list=os.listdir(path6)
Top_user_state_list

In [30]:
#This is to extract the data's to create a dataframe

clm6={'State':[], 'Year':[],'Quater':[],'District':[], 'Registered_users':[]}
for i in Top_user_state_list:
    p_i=path5+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            R=json.load(Data)
            for z in R['data']['districts']:
              Name = z['name']
              registeredUser = z['registeredUsers']
              clm6['District'].append(Name)
              clm6['Registered_users'].append(registeredUser)
              clm6['State'].append(i)
              clm6['Year'].append(j)
              clm6['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Top_user=pd.DataFrame(clm6)

KeyError: ignored

In [ ]:
Top_user

In [31]:
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp38-cp38-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 46.1 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.8/dist-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32

In [32]:
!pip install mysql-connector-python==8.0.29

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python==8.0.29
  Downloading mysql_connector_python-8.0.29-cp38-cp38-manylinux1_x86_64.whl (25.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 25.2/25.2 MB 32.1 MB/s eta 0:00:00
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from mysql-connector-python==8.0.29) (3.19.6)
Installing collected packages: mysql-connector-python
  Attempting uninstall: mysql-connector-python
    Found existing installation: mysql-connector-python 8.0.32
    Uninstalling mysql-connector-python-8.0.32:
      Successfully uninstalled mysql-connector-python-8.0.32
Successfully installed mysql-connector-python-8.0.29

In [33]:
import mysql.connector as sql
mydb = sql.connect(
  host = "127.0.0.1",
  user = "root",
  password = "priti1234",
  
  )

mycursor = mydb.cursor(buffered=True)

DatabaseError: ignored